/* Colors */
$main-color: #9346f5;
$secondary-color: #151515;
$background-color: #2d353d;
$red-color: #e71313;
$blue-color: #146ef5;

/* Fonts */
$heading: "Montserrat", sans-serif;
$text: "Roboto", sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

/* spacing */
$global-spacing: 1rem;

/* Max Width on desktop */

$max-width: 768px;
